body {
    font-family: 'Jost';
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #817168;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    flex: 1;
}

.logo {
    max-height: 50px;
    position: relative;
    z-index: 2;
}

nav {
    flex: 2;
    text-align: right;
}

nav ul {
   padding: 80;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #817168;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
	font-family: 'Jost', sans-serif;
}

nav ul li a:hover, nav ul li a.active {
    color: #FF8C00; /* Цвет солнца в логотипе */
    
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 15%;
}

.address {
    flex: 1;
    font-size: 16px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Jost', sans-serif;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #FF8C00; /* Цвет активной вкладки */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e67300; /* Темный оттенок цвета активной вкладки */
}

.social-media {
    text-align: right;
    padding: 20px 0;
}

.social-icons {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-start; /* Иконки влево */
}

.social-icons li {
    display: inline;
}

.social-icons a img {
    width: 42px;
    height: 42px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 0; /* Убираем padding */
        height: 80px; /* Явная высота хедера */
        justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
    }

    .logo-container {
        margin: 0; /* Убираем отступ */
        text-align: center;
    }

    .logo {
        max-height: 30px; /* Максимальная высота логотипа */
        margin: 0;
		margin-top: 2px;
    }

    nav {
        text-align: center;
        margin: 0; /* Убираем отступ */
        margin-top: 0px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin: 0; /* Убираем отступ сверху */
        padding-top: 0; /* Убираем padding сверху */
    }

    .contact-info {
        flex-direction: column;
        padding: 20px;
    }

    .social-icons {
        justify-content: center;
    }

    .container {
        padding-left: 0;
    }
}
