/* Общие стили */
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #817168; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%; /* Оригинальный padding для ландшафтного режима */
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    flex: 1;
    text-align: left; /* Возвращаем логотип влево */
}

.logo {
    max-height: 150px;
    position: relative;
    z-index: 2;
}

nav {
    flex: 2;
    text-align: right; /* Возвращаем вкладки вправо */
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #817168;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
}

nav ul li a:hover, nav ul li a.active {
    color: #FF8C00;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 10%;
    position: relative;
}

.hero-text {
    max-width: 50%;
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    margin: 50px;
}

.hero-image {
    width: auto;
    height: auto;
    max-width: 30%;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%) scale(1.2);
}

.hero-text blockquote {
    margin: 20px 0;
    font-size: 18px;
}

.hero-text blockquote p.quote {
    font-style: italic;
}

.hero-text blockquote p .author {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    display: block;
    text-align: left;
    margin-top: 10px;

}

footer {
    margin-top: 1cm;
}

/* Медиа-запросы для портретного режима */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 0; /* Убираем padding */
        height: 100px; /* Явная высота хедера */
        justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
    }

    .logo-container {
        margin: 0; /* Убираем отступ */
        text-align: center;
       
    }

    .logo {
        max-height: 100px; /* Максимальная высота логотипа */
        margin: 0; /* Убираем отступ */
    }

    nav {
        text-align: center;
        margin: 0; /* Убираем отступ */
		margin-top: -30px;

    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 0; /* Убираем отступ сверху */
        padding-top: 0; /* Убираем padding сверху */
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-image {
        max-width: 100%;
        margin: 20px 0;
        transform: translate(-50%, -50%) scale(1.2);
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .hero-text {
        max-width: 90%;
        font-size: 1em;
        margin-top: 0;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
}
