/* Updated styles_oferta.css */

body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #817168; /* Цвет текста */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    max-height: 45px; /* Reduced height by 50% */
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 10;
    z-index: 1000;
}

.logo-container {
    flex: 1;
}

.logo {
    max-height: 95px; /* Adjust to fit within the new header height */
    position: relative;
    z-index: 2;
}

nav {
    flex: 2;
    text-align: right;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px; /* Adjusted gap */
    margin: 10px 0; /* Adjusted margin */
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #817168; /* Темно-серый цвет текста */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
}

nav ul li a:hover, nav ul li a.active {
    color: #FF8C00;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Центрируем содержимое */
    position: relative; /* Добавлено для центрирования изображения */
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    color: inherit; /* Наследуем цвет текста */
}

.grid-item .grid-image {
    width: auto;
    height: auto;
    max-height: 150px; /* Максимальная высота для изображений */
    margin-bottom: 20px; /* Отступ снизу для изображений */
}

.grid-item h2 {
    font-size: 1.4em; /* Примерное значение, уменьшенное на 30% */
    margin: 10px 0; /* Отступ снизу для заголовков */
    color: #817168; /* Цвет текста */
}

.grid-item p {
    margin: 0 0 20px 0;
}

.grid-item .dots {
    font-size: 3em; /* Увеличиваем размер шрифта в 3 раза */
}

footer {
    background-color: #fff;
    color: #333;
    padding: 10px 0; /* Уменьшаем высоту футера */
    text-align: left;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.container {
    padding-left: 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 15%;
}

.social-icons li {
    display: inline;
}

.social-icons a img {
    width: 48px;
    height: 48px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .grid-container {
        padding: 10px;
    }

    .grid-item {
        padding: 10px;
    }

    .social-icons {
        justify-content: center;
    }

    .container {
        padding-left: 0;
    }
}
