body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #817168; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    background-color: #fff;
    height: 10px; /* Уменьшаем высоту хедера */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    flex: 1;
}

.logo {
    max-height: 150px; /* Увеличиваем логотип в 5 раз от исходного размера */
    position: relative;
    z-index: 2;
}

nav {
    flex: 2;
    text-align: right;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #817168; /* Теплый серый цвет */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
}

nav ul li a:hover, nav ul li a.active {
    color: #FF8C00; /* Цвет активной вкладки */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 10%;
    position: relative;
}

.hero-text {
    max-width: 50%;
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    margin: 50px;
}

.hero-image {
    width: auto;
    height: auto;
    max-width: 30%;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%) scale(1.2); /* Центрируем по вертикали и увеличиваем */
}

.hero-text blockquote {
    margin: 20px 0;
    font-size: 24px; /* Размер шрифта для текста в blockquote */
}

.hero-text blockquote p.quote {
    font-style: italic; /* Наклонный текст */
}

.hero-text blockquote p .author {
    font-family: 'Dancing Script', cursive; /* Рукописный шрифт для автора */
    font-size: 1.2em; /* Увеличенный размер шрифта для автора */
    display: block;
    text-align: left; /* Выравнивание по правому краю */
    margin-top: 10px; /* Отступ сверху для автора */
}

footer {
    margin-top: 1cm; /* Отступ сверху для футера */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-image {
        max-width: 100%;
        margin: 20px 0;
        transform: scale(1.2);
        position: static;
    }

    .hero-text {
        max-width: 100%;
        font-size: 1em;
        margin-top: 0;
    }

    .social-icons {
        justify-content: center;
    }

    .container {
        padding-left: 0;
    }
}
